.disactive{
    text-decoration-line: line-through;
}
.todo-panel {
    display: flex;
    max-width: 100%;
    justify-content: center;
}
input {
    height: 40px;
    width: 40px;
}
.main-todo-panel {
    max-width: 90%;
    width: 400px;
    height: 40px;
    font-size: 20px;
}