.todo-filter{
  margin: 5px 0;  
  max-width: 100%;
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
button {
  border-radius: 2px;
}
button:focus{
  border: 2px solid green;
}